main {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 66%, rgba(252, 176, 69, 1) 100%);
}

.item-list {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 30px 50px 0px; */
    justify-content: center;
}

.item {
    min-width: 300px;
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
    background-color: rgb(17, 15, 36);
    width: calc(33.3% - 40px);
    margin: 40px 20px;
}

.item-content,
.item-footer {
    padding: 25px;
}

.wrapper-image {
    position: relative;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(rgba(171, 84, 244, 0.16) 0%, rgba(171, 84, 244, 0.56) 100%);
}

.item-title {
    font-weight: 600;
    font-size: 21px;
    color: #ffffff;
}

.item-user {
    display: flex;
    align-items: center;
}

.avatar-user {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

.item-info {
    margin-left: 20px;
    flex: 1;
}

.item-user-top {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
}

.item-name {
    margin: 5px 0;
    color: #ffffff;
}

.item-user-top ion-icon {
    color: #4ca5d4ce;
    margin-left: 5px;
}

.card-user-game {
    color: #999;
    font-weight: 300;
    font-size: 13px;
}

.item-footer {
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.creator {
    font-size: 12px;
    font-weight: 600;
    padding: 6px 10px;
    color: #fff;
    background-color: rgb(37, 33, 79);
    text-transform: uppercase;
}

.item-minted {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}